# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

keys/*.pem
keys/*.pub
temp
terraform/terraform.tfvars.json
terraform/set-tf-output-2-env-var.bat
launcher.bat
lambda/function.zip
lambda/layer.zip

*.zip
help.txt

web-apps/server-tool/__pycache__