{
    auto_https off
}
(common) {
    encode gzip
    tls /etc/caddy/certs/server.crt /etc/caddy/certs/server.key
}
(auth_config) {
    basicauth {
        admin $2a$14$TMXXMj3dYHvPE0rQb.GpauM4Yuydaqk1AUOMtpBSZpkI6O1Y/Y3Mm
    }
    request_header X-Authenticated-User {http.auth.user.id}
}

:7100 {
    respond "Hello from my server!"
}

# Open-WebUI
:7101 {
    import common
    reverse_proxy localhost:8101
}

# Portainer
:7102 {
    import common
    reverse_proxy https://localhost:8102 {
        transport http {
            tls_insecure_skip_verify
        }
    }    
}

# Jupyter Lab
:7103 {
    import common
    reverse_proxy localhost:8103
}

# Code Server
:7104 {
    import common
    reverse_proxy localhost:8104
}

# LiteLLM
:7105 {
    import common
    reverse_proxy localhost:8105
}
