services:
  openhands-app:
    image: docker.openhands.dev/openhands/openhands:1.3
    container_name: openhands-app
    pull_policy: always
    stdin_open: true  # equivalent to -i
    tty: true  # equivalent to -t
    environment:
      - SANDBOX_RUNTIME_CONTAINER_IMAGE=docker.openhands.dev/openhands/openhands:1.3-nikolaik
      - LOG_ALL_EVENTS=true
      # - SANDBOX_VSCODE_PORT=7152
      # - APP_PORT_RANGE_1,
      # - APP_PORT_RANGE_2,
      # - EXECUTION_SERVER_PORT_RANGE,
      # - VSCODE_PORT_RANGE
    volumes:
      - ./.openhands:/.openhands
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8150:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - shared_network

networks:
  shared_network:
    external: true

